<ion-header>
  <div class="header">
      <ion-buttons  style="margin-top: 20px;margin-left: 5px;" slot="start">
        <ion-back-button style="color:white" defaultHref="/auth"></ion-back-button>
      </ion-buttons>
  </div>
  </ion-header>
  
  <div class="background">
    <ion-avatar class="avatar">
      <img  src="assets/images/avatar.svg">
    </ion-avatar>
  </div>
   
    <div class="content">
        <form #f="ngForm" class="form ion-padding" (ngSubmit)="registerUserCompany(f)">
          <ion-item >
            <ion-label class="labelInput"  position="floating">Name Company *</ion-label>
              <ion-input name="namecompany" 
                        #namecompany="ngModel"
                        type="text"
                        ngModel
                        required>
            </ion-input>
          </ion-item>
            <ion-item>
              <ion-label class="labelInput" position="floating">Adresse email *</ion-label>
              <ion-input  type="email" 
                          name="emailcompany"
                          ngModel 
                          #emailcompany="ngModel" 
                          required>
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!validEmail(emailcompany)  && emailcompany.touched" lines="none">
              <ion-label color="danger">
                Vous devez saisir un email valid
              </ion-label>
            </ion-item>
            <ion-item >
              <ion-label  class="labelInput" position="floating">description *</ion-label>
              <ion-textarea  name="description" 
                          type="description" 
                          ngModel  
                          #description="ngModel" 
                          required>
              </ion-textarea>
            </ion-item>
            <ion-item >
              <ion-label  class="labelInput" position="floating">Mot de passe *</ion-label>
              <ion-input  name="pwdcompany" 
                          type="password" 
                          minlength="8" 
                          ngModel  
                          #pwdcompany="ngModel" 
                          required>
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!pwdcompany.valid && pwdcompany.touched" lines="none">
              <ion-label color="danger">
                le mot de passe n'est pas correcte
              </ion-label>
            </ion-item>
            
                   
            <ion-button [disabled]="!f.valid" type="submit" color="warning" class="btn-submit ">Inscrivez-vous</ion-button>
        
            <p style="margin-top:30px" class="text">Vous possédez un compte ? <a class="link"
                (click)="signInCompany()">Connectez-vous</a></p>
        </form>
    </div>
  
  
    
          
  