
<div class="background">
  <div class="bg"></div>
</div>
<div class="content">
  <div class="logo">
    <img src="assets/images/welcome.svg" alt="" class="logo-img">
  </div>
  
  

  <div class="buttons">

    <button  style="color:white;margin-top:10px;font-size: 16px;line-height: 18px;" type="button" class="student-button text" (click)="Isuser()">
      
      <div style="margin-top:10px"><p>Etudiant</p></div>
      <img src="assets/images/arrow1.svg" alt="" class="logo-arrow1">

    </button>
    <div class="ou"><p >ou</p></div>
    <button style="color:white;font-size: 16px;line-height: 18px;" type="button" class="company-button text" (click)="Iscompany()">
      <p style="margin-top:10px">Entreprise</p>
      <img src="assets/images/arrow2.svg" alt="" class="logo-arrow2">

    </button>
  </div>

  </div>

