.menu{
	margin-left:10px;
	margin-top: 10px;
	width:30px;
}
@font-face {
    font-family: coiny;
    src: url(./../../../assets/fonts/Coiny-Regular.otf);
 }

// .cardbox{
// 	margin-top: 10px;
	
// }
.header{
	width: 200px;
	height: 80px;
	.title{
		font-family: coiny;
		font-size: 50px;
		color:#FFC800;
		margin: 5px;
	}
	.image{
		width: 30%;
		margin-left: 160px;
		margin-top: -150px;
	}
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0;
}
ion-header{
    background: #FFFFFF;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}