<ion-header >
  <ion-toolbar color="transparent">
    <img class="menu" src="assets/images/menu.svg" (click)="openMenu()">
  </ion-toolbar>
</ion-header>

<ion-content >
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
          <div class="view"  style="background-image: url('/assets/icon/pic2.webp');background-repeat: no-repeat; background-size:initial; "alt="First slide">
            <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div  data-aos="fade-down" data-aos-duration="1000"  class="text-center white-text mx-5 ">
                  <h1 class="display-3 mb-5 " >
                    <a style="font-size:30px" class="white-text font-weight-bold">Welcome <br> to Pinky</a>
                  </h1>
                  <p>
                    <strong></strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <strong></strong>
                  </p>

                </div>
                <!-- Content -->

              </div>
            <!-- Mask -->
          </div>

        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item">
          <div class="view" style="background-image: url('/assets/icon/pic3.jpg'); background-repeat: no-repeat; background-size:initial;" alt="Second slide">
            <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
              <!-- Content -->
              <div class="text-center white-text mx-5">
                <h1  data-aos="fade-down" data-aos-duration="1000" class="display-3 mb-5 " >
                  <a style="font-size:30px" class="white-text font-weight-bold">You don’t always get what you wish for <br>you get what you work for.</a>
                </h1>
                <p>
                  <strong></strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>

              </div>
              <!-- Content -->

            </div>
            <!-- Mask -->
          </div>
        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
          <div class="view"  style="background-image: url('/assets/icon/pic4.jpg'); background-repeat: no-repeat;  background-size:initial;" alt="Third slide">
                <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
              <!-- Content -->
              <div class="text-center white-text mx-5 ">
                <h1  data-aos="fade-down" data-aos-duration="1000" class="display-3 mb-5 " >
                  <a style="font-size:30px" style="font-size:30px" class="white-text font-weight-bold">Believe you can <br> and you’re halfway there</a>
                </h1>
                <p>
                  <strong></strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong></strong>
                </p>

              </div>
              <!-- Content -->

            </div>
            <!-- Mask -->

          </div>
        </div>
        <!--/Third slide-->
        <!--Four slide-->
        <div class="carousel-item">
          <div class="view"  style="background-image: url(/assets/icon/pic1.jpg);background-repeat: no-repeat;  background-size:initial;"alt="Four slide">
            <!-- Mask -->
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="text-center white-text mx-5">
                  <h1  data-aos="fade-down" data-aos-duration="1000" class="display-3 mb-5 " >
                    <a style="font-size:30px" class="white-text font-weight-bold">Don’t wish it were easier<br>wish you were better</a>
                  </h1>
                  <p>
                    <strong></strong>
                  </p>

                  <p class="mb-4 d-none d-md-block">
                    <strong></strong>
                  </p>

                </div>
                <!-- Content -->

              </div>
            <!-- Mask -->
          </div>

        </div>
        <!--/four slide-->
      </div>
      <!--/.Slides-->

      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <!--/.Controls-->
  </div>
 
  <div class="container my-5">

    <section  data-aos="fade-left" data-aos-duration="1000"class="dark-grey-text">
  
        <h3 class="text-center font-weight-bold mb-4 pb-2">A unique HR service platform</h3>
        <p class="text-center text-muted w-responsive mx-auto mb-5">EasyUs give you the opportunity to postulate fo intership in
          a big company without wasting your time trying to find the convient one for you because she will find it for you.<br>Just <span style="font-weight: bold;">one click</span> and the magic start
        </p>
  
      <div class="row">
  
     
        <div class="col-lg-5 mb-lg-0 mb-5">
  
          <img src="assets/icon/home.jpg" class="img-fluid rounded z-depth-1" alt="Sample project image">
  
        </div>
       
        <div class="col-lg-6">
  
          <ul class="list-unstyled fa-ul mb-0">
            <li class=" justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-book fa-2x cyan-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-1">Education</h5>
                <p class="text-muted">Find an intership in a big company and postulate for it</p>
              </div>
            </li>
            <li class=" justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-comments fa-2x red-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Commutication</h5>
                <p class="text-muted">Communicate directely with the companies.</p>
              </div>
            </li>
            <li class="justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-stopwatch fa-2x lime-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Time</h5>
                <p class="text-muted">Give you the chance to find an intership in no time.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

</div>
  
<h1 style="margin-top:100px;" class="text-center text-muted ont-weight-bold mb-4 pb-5">Strong strategic partnerships to be even closer to you!</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner row w-100 mx-auto">
    <div class="carousel-item col-md-4 active">
      <div class="img">
        <img class="card-img-top img-fluid telnet" src="assets/icon/companies/telnet.jpg" (click)="openModal('Telnet')" alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid neoxam" src="assets/icon/companies/neoxam.png" (click)="openModal('Neoxam')" alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid vermeg" src="assets/icon/companies/vermeg.jpg" (click)="openModal('Vermeg')"  alt="Card image cap">
        <!-- <div class="card-body">
        </div> -->
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid pixel" src="assets/icon/companies/pixel.png"(click)="openModal('Pixel Trade')" alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid bfi" src="assets/icon/companies/bfi.jpeg" (click)="openModal('Bfi')" alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid talan" src="assets/icon/companies/talan.png" (click)="openModal('Talan')"  alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid accratio" src="assets/icon/companies/accretio.png" (click)="openModal('Accretio')" alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid sofrecome" src="assets/icon/companies/sofrecom.png" (click)="openModal('Sofrecom')"  alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid linedata" src="assets/icon/companies/linedata.jpg" (click)="openModal('Linedata')"  alt="Card image cap">
      </div>
    </div>
    <div class="carousel-item col-md-4">
      <div class="img">
        <img class="card-img-top img-fluid focus" src="assets/icon/companies/focus.png" (click)="openModal('Focus')"  alt="Card image cap">
      </div>
    </div>
 </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- partial -->
<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script><script  src="./script.js"></script>

</ion-content>


