<ion-header>
  <ion-toolbar color="transparent">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <img style="width:20px;display:block;float: right;" src="assets/images/cancel.svg"/>
      </ion-button>
  </ion-buttons>
  <ion-title slot="start" color="warning">Add Internship</ion-title>
  </ion-toolbar>
</ion-header>
  <form #f="ngForm" (ngSubmit)="addIntership(f)" class="form ion-padding">
    
    <ion-item>
      <ion-label class="labelInput" position="floating" >Name internship </ion-label>
      <ion-input  type="text" name="nameintership" #nameintership="ngModel" ngModel ></ion-input>
    </ion-item>
    <ion-item *ngIf="!nameintership.valid && nameintership.touched" lines="none">
              <ion-label  color="danger">
                Shouldn't be empty
              </ion-label>
            </ion-item>
    <ion-list >
      <ion-item>
        <ion-label class="labelInput">Categories</ion-label>
        <ion-select  [value]="category" name="category" #category="ngModel" ngModel  >
          <ion-select-option *ngFor="let category of categoryList">{{category}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item *ngIf=" !category.valid &&category.touched" lines="none">
              <ion-label  color="danger">
                Shouldn't be empty
              </ion-label>
            </ion-item>
    
    <ion-item>
      <ion-label class="labelInput" position="floating" >Description </ion-label>
      <ion-textarea  type="text" name="description" #description="ngModel" ngModel required></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!description.valid && description.touched" lines="none">
              <ion-label  color="danger">
                Shouldn't be empty
              </ion-label>
            </ion-item>
    <ion-item>
      <ion-label class="labelInput" position="floating">Available from</ion-label>
      <ion-datetime min="2020-12-19" max="2021-12-31" #datefrom="ngModel" name="datefrom" ngModel required  placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!datefrom.valid && datefrom.touched" lines="none">
              <ion-label  color="danger">
                Select date please
              </ion-label>
            </ion-item>
    <ion-item >
      <ion-label class="labelInput" position="floating">Available to</ion-label>
      <ion-datetime min="2020-12-20" max="2021-12-31" #dateto="ngModel" name="dateto" ngModel required placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!dateto.valid && dateto.touched" lines="none">
      <ion-label  color="danger">
        Select date please
      </ion-label>
    </ion-item>
 
    <ion-button [disabled]="!f.valid || !datesValid(f)" type="submit" color="warning" class="btn-submit ">Save</ion-button>
  </form>