<ion-header>
  <div class="header">
      <ion-buttons  style="margin-top: 20px;margin-left: 5px;" slot="start">
        <ion-back-button style="color:#FFC800;" defaultHref="/home"></ion-back-button>
      </ion-buttons>
  </div>
  </ion-header>
  <div class="titre">List Internships</div>
  <div ><img class="image"src="assets/images/search.svg" ></div>
  <div class="container">
      <ion-item-sliding *ngFor="let intershipItem of interships" #slidingInterships>
        <ion-item  (click)="goTo()">
          <ion-avatar slot="start">
            <ion-img src="assets/images/job.svg" ></ion-img>
          </ion-avatar>
          <div class="title">
            {{intershipItem.nameintership }}
          </div>
        </ion-item>
        <ion-item-options>
        <ion-item-option (click)="ondeletIntership(intershipItem.nameintership,slidingInterships)" color="danger" >
          <ion-icon name="trash"  slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
 
